*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #f5f1e8 ;
    min-height: 100vh;
    border: 7px solid #1a2942;
}
.content{
   max-width: 900px;
    margin: 0 auto;
}
.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top_section h1{
    font-size: 60px;
    font-weight: bold;
    color:#8B1538;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.top_section h4{
    text-align: end;
    font-size: 25px;
    color: #2c3e50;
}
.image_container{
    border-radius: 50%;
    overflow: hidden;
}
.image_container, img{
    width: 300px;
    height: 330px;
}
.about_section{
    margin-top: 50px;
    margin-bottom: 50px;
}
.about_section h2{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2c3e50;
} 
.about_section p{
font-size: 20px;
line-height: 30px;
letter-spacing: 1.2px;
text-align: justify;
color: #4a4a4a;
}
.biography_section{
    margin-bottom: 40px;
}
.biography_section h3{
    margin-bottom: 30px;
    font-size: 25px;
    color: #2c3e50;
}
.biography_section ul{
    margin-left: 40px;
    color: #4a4a4a;
}
.biography_section li{
    margin-bottom: 10px
}
footer{
    margin: 50px 0;
}
footer p{
    text-align: end;
    color: #4a4a4a;
}